<h1>Login#index</h1>
<p>Find me in app/views/login/index.html.erb</p>

<%= form_for :verification do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :password %><br>
    <%= f.text_area :username %>
  </p>
 
  <p>
    <%= f.submit :login %>
  </p>
<% end %>